/*==========================
 # HTML5 ✰ Boilerplate  
============================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*==========================
 # 1140 Grid 
============================*/

/*==========================
 # Typography  
============================*/
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

body { font-size: 87.5%; line-height:1.6em; }

body,
h1, h2, h3, h4, h5, h6,
input,
textarea,
.page-title span,
.pingback a.url,
#site-title,
.entry-title {
	font-family: "Gill Sans","Gill Sans MT",Tahoma,sans-serif;
}
#site-title,
.entry-title {
	word-wrap: break-word;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	text-transform: uppercase;
	letter-spacing: .1em;
}
.meta-prep, .meta-sep, .entry-utility-prep {
	text-transform: lowercase;
	color: #a0a0a0;
	font-size: 90%;
	letter-spacing: normal;
}
input[type=submit] {

}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background: #f0f0f0;
}
.subtitle {
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 10px;
	font-weight: normal;
}
.subtitle:link, .subtitle:visited {
	color: #444;
	text-decoration: none;
}
.subtitle:active, .subtitle:hover {
	color: #FF5E99;
}
h3 a.subtitle:before {
	content: '\275D';
}
h3 a.subtitle:after {
	content: '\275E';
}
.single h3.subtitle:before, .page h3.subtitle:before, .attachment h3.subtitle:before {
	content: '\275D';
}
.single h3.subtitle:after, .page h3.subtitle:before, .attachment h3.subtitle:before {
	content: '\275E';
}
/*==========================
 # Global  
============================*/

body {
	height: 100%;
	background: #cccccc;
}

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

/* Shiny Transition Effects for the links */
a:link {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition:  all .2s ease-in-out
	-webkit-tap-highlight-color: #FF5E99;
	}
a:hover, a:active {
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition:  all .2s ease-in-out
	}
a, a:active, a:visited {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition:  all .2s ease-in-out
	color: #607890;
	}
a:hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition:  all .2s ease-in-out;
	color: #036;
	}

h1 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 2px;
	text-transform: uppercase;
}
blockquote {
	margin: .5em 1em;
	background: url(../images/topQuote.png) top left no-repeat;
	padding-left: 30px;
}

/*==========================
 # Header
============================*/

#headWrapper {
	background: #fff;
	padding-top: 10px;
}
#header {
	min-height: 85px;
	background: url(../images/headerback.jpg) top left no-repeat;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#branding {
	text-align:center;
}
#branding img {
	margin: 25px auto 0;
}
.screen-reader-text {
	left: -9000px;
	position: absolute;
}
	/*==========================
	 # Nav
	============================*/
#nav ul {
	list-style: none outside none;
	margin: 46px 0 0 0;
}
#nav ul li {
	float: left;
}
#nav ul li a {
	color: #e5e5e5;
	display: block;
	line-height:16px;
	padding: 11px 12px;
	text-decoration: none;
	text-transform:uppercase;
}
#nav ul li:hover > a,
#nav ul li:hover > a,
#nav ul li#currentPage:hover > a {
	background: #333;
	color: #fff;
}
#nav ul li:hover > ul {
	display: block;
}
#nav ul li#currentPage {
    background: #F7F7F7;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}
#nav ul li#currentPage > a {
	color: #000;
}

* html #nav ul li a:hover {
	color: #fff;
}

/*==========================
 # Content
============================*/
#content {
	background: url(../images/fauxCol.png) 13.3% 0% #fff repeat-y;
	height: 100%;
}

#flashWrapper {
	background: #f7f7f7;
	border-bottom: 1px solid #C5C5C5;
	min-height: 200px;
}
#main {
	min-height: 200px;
	padding-top:40px;
}

#main p {
	font-size: 16px;
	line-height: 26px;
}

#contentWrapper {
	background: #fff;
	height: 100%;
}
#main article {
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 20px 40px;
	border-bottom: 1px solid #c5c5c5;
}
#main article:last-child {
	padding: 0px;
	border-bottom: none;
}
.floatLeft img, .floatLeft .textBlockCode {
	float: left;
	padding-right: 40px;
}
.floatRight img, .floatRight .textBlockCode {
	float:right;
	padding-left: 40px;
}
.ui-tabs-hide {
	display: none;
}
#main h1 {
	margin-bottom:20px;
}
#main h2 {
	color: #333;
	font-size: 2em;
	text-transform: uppercase;
}
#main a.calloutLink {
    background:url(../images/btn_arrow_normal.png) no-repeat 95% 17px, url("../images/linkCallout.png") no-repeat left top;
    color: #FFFFFF;
    float: left;
    margin: 20px 0px 0px 20px;
    padding: 13px 30px 5px 10px;
    text-decoration: none;
}

#main a.calloutLink:hover {
    background:url(../images/btn_arrow_normal.png) no-repeat 95% 17px, url("../images/linkCalloutHover.png") no-repeat left top;
	padding-right: 50px;
}


	/*==========================
	 # Sidebar
	============================*/
#sidebar {
	min-height: 100%;
}

#sidebar ul {
	list-style: outside none;
	margin: 10px 0px 0px 0px;
}
#sidebar ul li {
	margin-bottom: 5px;
}
#sidebar ul li.ui-tabs-selected {
	background: #fff;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
#sidebar ul li a {
	color: #727272;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.3em;
    padding: 10px 10px 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
	display:block;
	outline: none;
}
#sidebar ul li.ui-tabs-selected a {
    color: #333333;
	cursor: default;
}
#sidebar ul li a:hover {
	color: #333333;
}
#sidebar ul li a#evolutionLink {	background: url("../images/icons/evolution_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#evolutionLink, #sidebar ul li a#evolutionLink:hover {   background: url("../images/icons/evolution_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#leadershipLink {	background: url("../images/icons/leadership_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#leadershipLink, #sidebar ul li a#leadershipLink:hover {   background: url("../images/icons/leadership_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#communityLink {	background: url("../images/icons/community_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#communityLink, #sidebar ul li a#communityLink:hover {   background: url("../images/icons/community_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#ecidLink {	background: url("../images/icons/enhanced_id_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#ecidLink, #sidebar ul li a#ecidLink:hover {   background: url("../images/icons/enhanced_id_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#storiesLink {	background: url("../images/icons/caller_id_stories_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#storiesLink, #sidebar ul li a#storiesLink:hover {   background: url("../images/icons/caller_id_stories_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#newsLink {	background: url("../images/icons/news_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#newsLink, #sidebar ul li a#newsLink:hover {   background: url("../images/icons/news_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#eventsLink {	background: url("../images/icons/events_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#eventsLink, #sidebar ul li a#eventsLink:hover {   background: url("../images/icons/events_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#awardsLink {	background: url("../images/icons/rewards_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#awardsLink, #sidebar ul li a#awardsLink:hover {   background: url("../images/icons/rewards_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#whyjoinLink {	background: url("../images/icons/why_join_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#whyjoinLink, #sidebar ul li a#whyjoinLink:hover {   background: url("../images/icons/why_join_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#ourpeopleLink {	background: url("../images/icons/meet_people_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#ourpeopleLink, #sidebar ul li a#ourpeopleLink:hover {   background: url("../images/icons/meet_people_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#positionsLink {	background: url("../images/icons/positions_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#positionsLink, #sidebar ul li a#positionsLink:hover {   background: url("../images/icons/positions_selected.png") no-repeat scroll left center transparent;}
#sidebar ul li a#perksLink {	background: url("../images/icons/perks_normal.png") no-repeat scroll left center transparent;	}
#sidebar ul li.ui-tabs-selected a#perksLink, #sidebar ul li a#perksLink:hover {   background: url("../images/icons/perks_selected.png") no-repeat scroll left center transparent;}

	/*==========================
	 # People
	============================*/
#ourpeople {
	padding-left: 40px;
}
.peopleFlyout {
	float: left;
	height: 220px;
	width: 220px;
	margin:0px 40px 40px 0px;	
}
.peopleFlyout .photo {
	height: 220px;
	width: 220px;
}
.peopleFlyout img {
	
}
	
.peopleFlyout .quote { 
	display: none;
	position: relative;
}
.peopleFlyout.flyUp .quote {
	padding-bottom: 55px;
	background: url(../images/arrow_down.png) 10% bottom no-repeat #fff;
	bottom: 480px;
	height: 185px;
	width: 480px;
}
.peopleFlyout.flyRight .quote {
	padding-left: 55px;
	background: url(../images/arrow_left.png) center left no-repeat #fff;
	height: 220px;
	width: 445px;
	left:240px;
	bottom:220px;
}
.peopleFlyout.flyDown .quote {
	padding-top: 55px;
	height: 205px;
	width: 480px;
	background: url(../images/arrow_up.png) 10% top no-repeat #fff;
	top: 10px;
}
.peopleFlyout.flyLeft .quote {
	padding-right: 35px;
	background: url(../images/arrow_right.png) center right no-repeat #fff;
	height: 220px;
	width: 485px;
	bottom: 220px;
	right: 530px;
}
#ourpeople a.calloutLink {
	float: left;
	margin: -20px 0px 20px 50%;
}

	/*==========================
	 # Jobs
	============================*/
#positions {
	padding-left:30px;
}
#positions .jobPosting {
	border: 1px solid #ccc;
	padding: 15px;
	width: 250px;
	height: 210px;
	float: left;
	margin: 0px 20px 20px 0px; 
}
#positions .jobPosting:hover {
	background: #f7f7f7;	
}
#positions h3 {
	margin-bottom: 10px;
}
#positions h3 a {
	color: #14aae2;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: bold;

}
	/*==========================
	 # Jobs
	============================*/


/*==========================
 # Footer
============================*/
#footerbar {
	padding-top: 20px;
	text-align:center;
}

/*==========================
 # HTML5 ✰ Boilerplate Media hacks  
============================*/


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
  #nav ul {
	margin: 10px 0 0 0;
}
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}