<div class="peopleFlyout <perch:content id="peopleFlyoutDir" type="radio" label="Flyout Direction" options="Up|flyUp, Right|flyRight, Down|flyDown, Left|flyLeft" required="true" />">
	<div class="photo">
		<img src="<perch:content type="image" id="image" label="Photo"  />" alt="<perch:content type="text" id="label" label="Photo name" required="false" title="true" />" />
	</div>
    <div class="quote">
		<perch:content id="text" type="textarea" label="Employee Quote" textile="false" editor="ckeditor" required="true" html="true" />
	</div>
</div>

